services:
  transcriber:
    image: transcriber
    container_name: transcriber
    group_add:
      - video
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    ports:
      - 3000:3000
    devices:
      - /dev/kfd
      - /dev/dri
    security_opt:
      - seccomp=unconfined
    volumes:
      - movies:/mnt/Movies

volumes:
  movies:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=192.168.178.28,rw"
      device: ":/mnt/user/Movies"